@charset "UTF-8";
#wrap{width:1000px;margin:auto;}
header{height:50px;}
nav{height:60px;}
section{height:800px;}
footer{height:50px;}

.logo{color:#77E436;}
.logo:hover{color:#77E436; text-decoration: none;}
.search-div{width:500px;}
.main-info{
	height:250px;
	border: solid 3px #77E436;
}
.musician-name{color:#77E436;}